@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
/* CSS tùy chỉnh để kiểm soát màu tự động điền */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--autofill-bg) inset !important;
  -webkit-text-fill-color: var(--autofill-text) !important;
  transition: background-color 5000s ease-in-out 0s;
}
